<hlm-dialog-header>
  <h3 hlmDialogTitle class="mb-3 text-base">Create issue</h3>
</hlm-dialog-header>

<form [formGroup]="issueForm">
  <div class="">
    <label hlmLabel> Issue type </label>
    <issue-type-select [control]="f.iss_type"></issue-type-select>
  </div>
  <div class="mt-3">
    <label hlmLabel> Issue priority </label>
    <issue-priority-select [control]="f.priority"></issue-priority-select>
  </div>
  <div class="mt-3">
    <label hlmLabel> Short summary </label>
    <input
      hlmInput
      class="w-full"
      formControlName="title"
      jAutofocus
      [timerDelay]="500" />
  </div>
  <div class="mt-3">
    <label hlmLabel class="block mb-[2px]">Description</label>
    <quill-editor
      class="w-full"
      [styles]="{ 'min-height': '120px' }"
      [modules]="editorOptions"
      formControlName="description"
      [placeholder]="''">
    </quill-editor>
  </div>
  <div class="mt-3">
    <label hlmLabel> Reporter </label>
    <issue-reporter-select
      [control]="f.reporterId"
      [users]="(reporterUsers$ | async) || []">
    </issue-reporter-select>
  </div>
  <div class="mt-3">
    <label hlmLabel> Assignees </label>
    <issue-assignees-select
      [control]="f.userIds"
      [users]="(assignees$ | async) || []">
    </issue-assignees-select>
  </div>
  <div class="mt-5 text-right flex gap-2 justify-end">
    <button
      hlmBtn
      type="submit"
      [disabled]="issueForm.invalid"
      (click)="submitForm()">
      Create Issue
    </button>
    <button hlmBtn variant="outline" (click)="cancel()">Cancel</button>
  </div>
</form>
