<div class="flex flex-col w-full h-full py-8 pl-8 pr-6">
  <breadcrumbs [items]="breadcrumbs"></breadcrumbs>
  <header class="flex justify-between items-end mt-3">
    <div class="text-2xl font-medium">Kanban board</div>
    <div class="hidden md:items-center md:gap-2 md:flex">
      <a href="#" target="_blank" rel="noopener">
        <button hlmBtn variant="secondary" class="h-[34px]">
          🍺
          <span class="hidden xl:inline ml-1">Support</span>
        </button>
      </a>

      <a href="#" target="_blank" rel="noopener">
        <button hlmBtn variant="secondary" class="h-[34px]">
          🎧 <span class="hidden xl:inline ml-1">Spotify</span>
        </button>
      </a>

      <a href="#" target="_blank" rel="noopener">
        <button hlmBtn variant="secondary" class="h-[34px]">
          🎮 <span class="hidden xl:inline ml-1">Tetris</span>
        </button>
      </a>

      <a href="#" target="_blank" rel="noopener">
        <button hlmBtn variant="secondary" class="h-[34px]">
          📕 <span class="hidden xl:inline ml-1">Storybook</span>
        </button>
      </a>

      <a href="#" target="_blank" rel="noopener">
        <button hlmBtn variant="secondary" class="h-[34px]">
          <x-icon />
          <span class="hidden xl:inline ml-1">Tweet</span>
        </button>
      </a>
      <a href="#" target="_blank" rel="noopener">
        <button hlmBtn variant="secondary" class="h-[34px]" icon="github">
          <github-icon />
          <span class="hidden xl:inline ml-1">Source</span>
        </button>
      </a>
    </div>
  </header>

  <board-filter></board-filter>
  <board-dnd></board-dnd>
</div>
