<div class="mt-6 mb-1 uppercase text-textMedium text-13 font-bold">
  Reporter
</div>
<button
  hlmBtn
  variant="destructive"
  [brnMenuTriggerFor]="menu"
  class="h-[34px]">
  <base-user [user]="reporter"></base-user>
</button>
<ng-template #menu>
  <hlm-menu>
    <ul>
      <ng-container *ngFor="let option of users">
        <li
          tabindex="0"
          hlmMenuItem
          *ngIf="!isUserSelected(option)"
          (click)="updateIssue(option)">
          <base-user [user]="option"></base-user>
        </li>
      </ng-container>
    </ul>
  </hlm-menu>
</ng-template>
