<div class="flex items-center mt-6 gap-4">
  <form class="">
    <base-input aria-label="search" icon="search" [control]="searchControl">
    </base-input>
  </form>

  <board-filter-user />
  <button
    hlmBtn
    class="h-[34px] hidden xl:inline-block leading-4"
    [variant]="(onlyMyIssue | async) ? 'secondary' : 'outline'"
    (click)="onlyMyIssueChanged()">
    Only My Issues
  </button>
  <button
    hlmBtn
    class="h-[34px] hidden xl:inline-block leading-4"
    [variant]="(ignoreResolved | async) ? 'secondary' : 'outline'"
    (click)="ignoreResolvedChanged()"
    [variant]="">
    Ignore Resolved
  </button>
  <button
    *ngIf="hasClearAll | async"
    hlmBtn
    class="h-[34px] hidden xl:inline-block leading-4"
    (click)="resetAll()">
    <span class="hidden xl:inline">Clear all</span>
  </button>
  <button
    hlmBtn
    variant="outline"
    [brnMenuTriggerFor]="menu"
    class="h-[34px] p-2 inline-block ml-auto xl:hidden">
    <hlm-icon size="sm" name="lucideMoreHorizontal" />
  </button>
</div>

<ng-template #menu>
  <hlm-menu class="w-56">
    <hlm-menu-group>
      <button
        hlmMenuItemCheckbox
        [checked]="onlyMyIssue | async"
        (triggered)="onlyMyIssueChanged()">
        <hlm-menu-item-check />
        <span>Only My Issues</span>
      </button>

      <button
        hlmMenuItemCheckbox
        [checked]="ignoreResolved | async"
        (triggered)="ignoreResolvedChanged()">
        <hlm-menu-item-check />
        <span>Ignore Resolved</span>
      </button>
    </hlm-menu-group>

    <hlm-menu-separator />

    <button hlmMenuItem (triggered)="resetAll()">
      <hlm-icon size="sm" name="lucideTrash" hlmMenuIcon />
      Reset
    </button>
  </hlm-menu>
</ng-template>
