<div class="flex items-center mt-6 gap-4">
  <form class="">
    <base-input aria-label="search" icon="search" [control]="searchControl">
    </base-input>
  </form>
  <div class="flex flex-row mr-3">
    <hlm-tooltip *ngFor="let user of projectUsers | async">
      <div
        tabindex="0"
        hlmTooltipTrigger
        position="below"
        class="cursor-pointer -ml-1 flex rounded-full transition-transform duration-100">
        <base-avatar
          class="flex"
          className="select-none shadow hover:translate-y-[-5px]"
          [avatarUrl]="user.avatarUrl"
          [size]="36"
          (click)="userChanged(user)">
        </base-avatar>
      </div>
      <span *brnTooltipContent>{{ user.name }}</span>
    </hlm-tooltip>
  </div>
  <button
    hlmBtn
    class="h-[34px]"
    [variant]="(onlyMyIssue | async) ? 'secondary' : 'ghost'"
    (click)="onlyMyIssueChanged()">
    Only My Issues
  </button>
  <button
    hlmBtn
    class="h-[34px]"
    [variant]="(ignoreResolved | async) ? 'secondary' : 'ghost'"
    (click)="ignoreResolvedChanged()"
    [variant]="">
    Ignore Resolved
  </button>
  <button
    *ngIf="hasClearAll | async"
    hlmBtn
    class="h-[34px]"
    (click)="resetAll()">
    Clear all
  </button>
</div>
