<div class="flex items-center mt-6">
  <form class="w-40 mr-4">
    <base-input aria-label="search" icon="search" [control]="searchControl">
    </base-input>
  </form>
  <div class="flex flex-row mr-3">
    <hlm-tooltip *ngFor="let user of projectUsers | async">
      <div
        tabindex="0"
        hlmTooltipTrigger
        position="below"
        class="cursor-pointer -ml-1 flex rounded-full transition-transform duration-100">
        <base-avatar
          class="flex"
          className="select-none shadow hover:translate-y-[-5px]"
          [avatarUrl]="user.avatarUrl"
          [size]="36"
          (click)="userChanged(user)">
        </base-avatar>
      </div>
      <span *brnTooltipContent>{{ user.name }}</span>
    </hlm-tooltip>
  </div>
  <button
    hlmBtn
    class="ml-3"
    [variant]="(onlyMyIssue | async) ? 'destructive' : 'outline'"
    (click)="onlyMyIssueChanged()">
    Only My Issues
  </button>
  <button
    hlmBtn
    class="ml-3"
    [variant]="(ignoreResolved | async) ? 'destructive' : 'outline'"
    (click)="ignoreResolvedChanged()"
    [variant]="">
    Ignore Resolved
  </button>
  <div class="ml-3 flex items-center" *ngIf="hasClearAll | async">
    <div class="mr-3 w-px bg-backgroundMedium self-stretch"></div>
    <button hlmBtn [className]="'btn-secondary'" (click)="resetAll()">
      Clear all
    </button>
  </div>
</div>
